<table>
    <tr>
        <td><label>Customer Number</label></td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td><label>Amount</label></td>
        <td><input type="text" /></td>
        <td><button>Check Offer</button></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><button>Recharge</button></td>
    </tr>
</table>
